body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

img {
    max-width: none !important;
}

.carousel-item {
    display: none;
    
}

.slide-1 {
    position: relative;
    background: url('/ecommerce-twind/assets/images/hangers.jpg') no-repeat center center/cover;
}

.slide-2 {
    position: relative;
    background: url('/ecommerce-twind/assets/images/shirts.jpg') no-repeat center center/cover;
}

.slide-3 {
    position: relative;
    background: url('/ecommerce-twind/assets/images/store.jpg') no-repeat center center/cover;
}

.slide-1::before,
.slide-2::before,
.slide-3::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.2);
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.carousel-item.active {
    display: block;
}

.sale-img {
    background: url('/assets/images/shoes-sale.jpg') no-repeat center center/cover;
    position: relative;
}

.sale-img > * {
    z-index: 10;
}

.sale-img::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.2);
}

.top-50 {
    top: 50%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




/* Product carousel */

.product-carousel {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.product-carousel::-webkit-scrollbar {
    display: none;
}

.product-carousel .card {
    min-width: 50%;
    scroll-snap-align: start;
    cursor: pointer;
    padding: 0.7rem;
}

.product-carousel .card .img {
    padding: 4rem 0;
}

.card .img img {
    width: 80%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}

.product-carousel.swiping {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.product-carousel.swiping .card {
    cursor: grab;
    user-select: none;
}



/* Media queries */

@media screen and (min-width: 400px) {
    .product-carousel {

    }

    .product-carousel .card {

    }

    .product-carousel .card .img {
        padding: 3rem 0;
    }
}

@media screen and (min-width: 640px) {
    .product-carousel {
    }

    .product-carousel .card {
        min-width: 33.33%;
        padding: 1.7rem;
    }
}

@media screen and (min-width: 768px) {
    .product-carousel .card {
        min-width: 25%;
        padding: 1rem 0.7rem;
    }
}

@media screen and (min-width: 1024px) {
    .product-carousel {
    }

    .product-carousel .card {
        min-width: 20%;
    }
}

@media screen and (min-width: 1280px) {
    .product-carousel .card {
        min-width: 16.66%;
    }
}

@media screen and (min-width: 1536px) {
    .product-carousel {
    }

    
}
